<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Xona band qilindi</title>
</head>
<body>
  <h2>Assalomu alaykum, {{fullName}}!</h2>
  <p>Sizning xonangiz muvaffaqiyatli band qilindi.</p>

  <ul>
    <li><strong>Check-in:</strong> {{checkin_date}}</li>
    <li><strong>Check-out:</strong> {{checkout_date}}</li>
    <li><strong>Xona raqami:</strong> {{room_number}}</li>
  </ul>

  <p>Bizni tanlaganingiz uchun rahmat!</p>
</body>
</html>
